{% extends 'base.html.twig' %}


{% block body %}
<h4>User Details:</h2>
<p text-muted>Name: {{user.name}}</p>
<p text-muted>Lastname: {{user.lastName}}</p>
<p class="text-primary">Email: {{user.email}}</p>
<p class="text-success">Date de création: {{user.dateCreate|date('Y-m-d:h:s')}}</p>
<p class="text-success">Date dernière visite: {{user.dateLastLogin|date('Y-m-d:h:s')}}</p>
{% endblock %}
